.wrapper
  .top-bar
    %h3
      チャットグループが作成されました

  .side-bar
    .header
      %h3.header__name
        seo
      %ul.header__lists
        %li.list
          %a{:href => ""}
            %i.fa.fa-cog.icon
        %li.list
          %a{:href => ""}
            %i.fa.fa-edit.icon

    .groups
      .group
        .group_name
          sample
        .group_message
          good_bye!
  .chat
    .header
      .now_groupname
        %h3
          sampleグループ
      .member
        %h3
          Member: aaa bbb ccc
    .message-box
      .message_area
        .message
          .message_username
            username
          .message_date
            2019/01/22 2:50
          .message_input
            aaaa
      .post-box
        = form_for('/tweets', method: :post) do
          %textarea{:cols => "30", :name => "text", :placeholder => "type a message", :rows => "10",:class=>"text"}
          .image_form
            %label
              %i.fa.fa-image.icon.fa-2x
              %input{:name => "image", :placeholder => "Image fire", :type => "file" ,:class => "image" ,:style=>"display:none"}/
          %input{:type => "submit", :value => "SEND",:class => "send"}/

