.wrapper
  = render 'groups/side_bar'
  .chat
    .header
      .left-header
        .now_groupname
          %h3
            sampleグループ
        .member
          %h3
            Member: aaa bbb ccc
      .right-header
        %a.right-header__button{:href => "/groups/edit"} Edit

    .message-box
      .message_area
        .message
          %p.each
            = render partial: "message"
      .post-box
        = form_for('/tweets', method: :post) do
          %textarea{:cols => "30", :name => "text", :placeholder => "type a message", :rows => "10",:class=>"text"}
          .image_form
            %label
              %i.fa.fa-image
              %input{:name => "image", :placeholder => "Image fire", :type => "file" ,:class => "image" ,:style=>"display:none"}/
          %input{:type => "submit", :value => "SEND",:class => "send"}/

