%body
  .notification
  .wrapper
    .side-bar
      .header
        %h3.header__name
          ryo53
        %ul.header__lists
          %li.list
            %a{:href => "/groups/new"}
              %i.fa.fa-pencil-square-o.icon
          %li.list
            %a{:href => "/users/12972/edit"}
              %i.fa.fa-cog.icon
      .groups
        .group
          %a{:href => "/groups/30332/messages"}
            .group__name
              aaaa
            .group__message
              aaaa
    .chat
      .header
        .left-header
          .left-header__title
            aaaa
          %ul.left-header__members
            Member：
            %li.member
              ryo53
            %li.member
              da
            %li.member
              yamada
            %li.member
              cjksdahvk
        .right-header
          %a.right-header__button{:href => "/groups/30332/edit"} Edit
      .messages.js-messages
        .message
          .upper-message
            .upper-message__user-name ryo53
            .upper-message__date 2019/01/22 06:25
          .lower-message
            %p.lower-message__content aaaa
        .message
          .upper-message
            .upper-message__user-name ryo53
            .upper-message__date 2019/01/22 06:25
          .lower-message
            %p.lower-message__content ssss
        .message
          .upper-message
            .upper-message__user-name ryo53
            .upper-message__date 2019/01/22 06:25
          .lower-message
            %p.lower-message__content aaaa
            %img.lower-message__image{:src => "/uploads/message/image/71232/6dbe548d-fc69-4ddf-9aac-e5a486f22e13.jpg"}/
      .form
        %form#new_message.js-form{"accept-charset" => "UTF-8", :action => "/groups/30332/messages", :enctype => "multipart/form-data", :method => "post"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "Z6KFgHTXnoVjkyT+McZTcmWgSgtmPg1jf7NKXgIeBVJmtUxG/I//kzET74n6OlEo/x+o1Jr0fCPxIQiUTEWyNw=="}/
          %input#message_content.form__message.js-content{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
          .form__mask
            %label.form__mask__image{:for => "message_image"}
              %i.fa.fa-picture-o.icon
              %input#message_image.hidden.js-file{:name => "message[image]", :type => "file"}/
          %input.form__submit{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
