.wrapper{
  overflow: hidden;
  .bar{
      height: 24px;
      width: 100%;
      background-color:#38AEF0;
      h3 {
        color: white;
        text-align: center;
      }
    }

  .side-bar{
    background-color:#2f3e51;
    width:300px;
    float:left;
    .header{
      font-size: 16px;
      color:#FFFFFF;
      height:100px;
      line-height: 100px;
      background-color:#253141;
      padding: 0 20px;
    }
    .groups{
      height:calc(100vh - 100px);
      padding: 0 20px;
      .group{
        .group_name{
          color:#FFFFFF;
          font-size:15px;
        }
        .group_message{
          color:#FFFFFF;
          font-size:11px;
        }
      }
    }
  }

  .chat{
    width:calc(100% - 300px);
    height:calc(100vh - 24px);
    float:left;
  }
    .header{
      height:100px;
      border-bottom: #eeeeee;
      padding:0 40px;
      .now_groupname{
        font-size:20px;
        color:#333333;
      }
      .member{
        font-size:12px;
        color:#999999;
      }
    }
    .message-box{
      background-color:#AAAAAA;
      height:calc(100vh - 100px);
      padding:0 40px;
      .post-box{
        .text{
          height:20px;
        }
      }
    }
}
